[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
setuptools = "*"
wheel = "*"
twine = "*"
mypy = "*"
"flake8" = "*"
yapf = "*"
coverage = "*"

[packages]
requests = ">=2.20.0"

[requires]
python_version = "3.7"
